[submodule "n-ality-av"]
	path = n-ality-av
	url = https://github.com/N1l0c/n-ality-av.git
[submodule "AutoBach"]
	path = AutoBach
	url = https://github.com/N1l0c/AutoBach.git
[submodule "lorentz-synth"]
	path = lorenz-synth
	url = https://github.com/N1l0c/lorentz-synth
