---
import { getCollection } from 'astro:content';
import Header from '../../components/Header.astro';

const posts = await getCollection('blog');
---

<html lang="en">
  <head>
    <title>Blog</title>
  </head>
  <body class="bg-black text-white font-sans pt-[64px] p-8">
    <Header />
    <h1 class="text-3xl font-bold mb-6">Blog</h1>
    <ul class="space-y-6">
      {posts.map((post) => (
        <li>
          <a class="text-2xl text-blue-400 hover:underline" href={`/blog/${post.id}`}>
            {post.data.title}
          </a>
          <p class="text-sm text-gray-400">{post.data.description}</p>
        </li>
      ))}
    </ul>
  </body>
</html>
