---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>This is a place for ideas in motion.</h1>
			<p>
				A space where philosophy meets complexity, where music shapes thought, and thought reshapes sound.
			</p>
			<p>
				Here you'll find sketches, essays, experiments, and unfinished symphonies—  
				threads from different worlds weaving toward something whole.
			</p>
			<p>
				Welcome.<br />
				You're invited to read, listen, play, and respond.
			</p>
		</main>
		<Footer />
	</body>
</html>
