---
import Header from '../components/Header.astro';
import NAlityWrapper from '../components/NAlityWrapper';
---

<html lang="en">
  <head>
    <title>colinfreeth.com</title>
    <link rel="stylesheet" href="/src/styles/global.css">
  </head>
  <body class="bg-black text-white font-sans m-0 p-0 overflow-hidden relative">
    <Header />
    <main class="w-full h-full pt-[60px]">
      <NAlityWrapper client:only="react" />
    </main>
  </body>
</html>